# Create a new file called auth-config.yaml by cloning this file and 
# update the secrets. 
integrations:
  gitlab: 
    - host: gitlab.com
      token: 
      #apiBaseUrl: localhost:3000
auth:
  environment: development
  providers:
    github:
      development:
        clientId: ""
        clientSecret: ""
        enterpriseInstanceUrl: http://localhost:3000
        icon: https://avatars.githubusercontent.com/u/22138497?s=200&v=4
        scope:
          - user:email
    gitlab:
      development:
        clientId: ""
        clientSecret: ""
        scope: read_user
        #audience: http://localhost:8000
backend:
  auth:
    keys:
    - secret: "1232345"
signInPage: gitlab #Change to github if we are using github